// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(31, 129, 221, 0.205);
}

a {
  text-decoration: none;
}

.container {
  margin-top: 2rem;
}

@mixin card {
  font-size: 20px;
  padding: 10px 20px;
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: rgba(250, 235, 215, 0.9);
}

dl {
  color: rgb(0, 0, 0);
  @include card;
  a {
    color: rgb(36, 32, 32);
    &:hover {
      color: #000;
      font-size: 22px;
      transition: 1000ms;
    }
  }
}

.content {
  @include card;
  // color: #FFF;
  p {
    margin: 0;
  }
}

.btn-back {
  font-size: 18px;
  display: inline-block;
  margin: 10px;
  width: auto;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #000;
  color: #FFF;
  border: 3px solid #FFF;
  font-weight: 600;
  text-align: center;
  &:hover {
    background-color: #FFF;
    color: #000;
    border: 3px solid #000;
    transition: 1000ms;
  }
}
